dh2024.env
myenv/*
languagegame/config.py
reactfrontend/node_modules/*
frontend/node_modules/
reactfrontend/package-lock.json
reactfrontend/package.json
reactfrontend/public/island.mtl
reactfrontend/public/island.obj
reactfrontend/src/App.js
reactfrontend/src/models/island.mtl
reactfrontend/src/models/island.obj
reactfrontend/package-lock.json
reactfrontend/package.json
reactfrontend/src/App.js
__pycache__/account.cpython-310.pyc
__pycache__/course.cpython-310.pyc
__pycache__/dbRequests.cpython-310.pyc
__pycache__/student.cpython-310.pyc
__pycache__/teacher.cpython-310.pyc
backend/node_modules/*
winenv/*
backend/curls.txt
